#entire-box-month
    background-color: gray
    width: 200px
    height: 100px 
    border-radius: 15px

#title-background 
    background-color: black
    color: gold
    border-radius: 8px
    text-align: center

#value-adjust
    color: black
    height: 60px
    display: flex
    justify-content: center
    align-items: center