#carousel-main
    justify-content: center 
    align-items: center
    padding: 4px

#user-list-header-content
    width: 100%
    max-width: 1500px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 30px

#space-carousel-main 
    margin-top: 20px

#align-user-photos
    display: flex
    justify-content: space-between
    margin-top: 40px
    

